<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 bg-grey-50">
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="https://res.cloudinary.com/dqqfmuomk/image/upload/v1708608738/image_2024-02-22_203212411_wedyyk.png"
              class="d-block mx-lg-auto img-fluid w-75 h-auto rounded-2"
              alt="Orchids Themes"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Welcome to Orchids Dashboard!
            </h1>
            <p class="lead">
              Discover and buy from our unique selection of orchids from around
              the world.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/orchids" class="btn btn-bd-primary btn-lg px-4 me-md-2">
                Explore now
              </a>
            </div>
          </div>
        </div>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <h3>Our Best Sell</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <% orchids.forEach(function(orchid) { %>
              <div class="col">
                <div class="card shadow-sm position-relative">
                  <small class="position-absolute top-0 end-0 m-2">
                    <i class="fa-solid fa-heart"></i>
                  </small>
                  <img
                    class="object-fit-cover border rounded"
                    width="100%"
                    height="225"
                    src="<%= orchid.image %>"
                    alt="<%= orchid.name %>"
                  />

                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-2"
                    >
                      <p class="card-text m-0">
                        <%= orchid.name %> - <%= orchid.color %>
                      </p>
                      <small>
                        <p class="card-text m-0 text-body-secondary">
                          <%= orchid.price %> USD
                        </p>
                      </small>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <a
                          type="button"
                          class="btn btn-sm btn-outline-primary"
                          href="/orchidDetail/<%= orchid.slug %>"
                        >
                          <i class="fa-solid fa-eye"></i> View
                        </a>
                      </div>
                      <small class="text-body-secondary">
                        <% for(let i = 0; i < 5; i++) { %>
                        <i
                          class="fa-solid fa-star star-<%= orchid._id %>"
                          onclick="rateOrchid('<%= i+1 %>', '<%= orchid._id %>')"
                        ></i>
                        <% } %>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
          <div class="d-flex justify-content-center my-3">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                  <a class="page-link" href="/?page=<%= page - 1 %>"
                    >Previous</a
                  >
                </li>
                <% for(let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= page === i ? 'active' : '' %>">
                  <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <li
                  class="page-item <%= page === totalPages ? 'disabled' : '' %>"
                >
                  <a class="page-link" href="/?page=<%= page + 1 %>">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <%-include('../scripts/globalScript')-%>
      <%-include('../partials/footer')-%>
    </main>
  </body>
</html>
