<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 pt-2">
        <div class="row flex-lg-row-reverse align-items-lg-start g-5">
          <div class="col-12">
            <div class="text-center mb-3">
              <h4 class="section-title">Orchid List</h4>
            </div>
            <div class="row g-5 mb-3">
              <div class="col-md-6">
                <% if (locals.user.isAdmin === true) { %>
                <a href="/orchids/formCreate" class="btn btn-primary">
                  Create New Orchid
                </a>
                <% } %>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Orchid"
                    id="searchOrchid"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="searchButton"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="clearButton"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="table-wrapper1">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Original</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Is Natural</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <% if(orchids.length === 0) { %>
                <tbody>
                  <tr>
                    <td colspan="12" class="h4 text-center">
                      No orchids found
                    </td>
                  </tr>
                </tbody>
                <% } else { %>
                <tbody>
                  <% orchids.forEach(function(orchid,index){ %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td>
                      <figure>
                        <img class="table-img" src="<%= orchid.image %>" />
                      </figure>
                    </td>
                    <td><%= orchid.name %></td>
                    <td><%= orchid.color %></td>
                    <td><%= orchid.original %></td>
                    <td><%= orchid.category.name %></td>
                    <td><%= orchid.price %></td>
                    <td><%= orchid.isNatural ? 'Yes' : 'No' %></td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"
                        >
                          <% if (locals.user.isAdmin === true) { %>

                          <a
                            class="dropdown-item"
                            href="/orchids/<%= orchid._id %>"
                          >
                            <button class="btn btn-warning btn-sm">
                              <i class="fa-solid fa-pen-to-square"></i> Edit
                            </button>
                          </a>
                          <div class="dropdown-item">
                            <button
                              class="btn btn-danger btn-sm"
                              data-name="<%= orchid.name %>"
                              data-id="<%= orchid._id %>"
                            >
                              <i class="fa-solid fa-trash"></i> Delete
                            </button>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <form
                    id="deleteForm<%= orchid._id %>"
                    action="/orchids/<%= orchid._id %>?_method=DELETE"
                    method="POST"
                  >
                    <input
                      type="hidden"
                      name="orchidId"
                      value="<%= orchid._id %>"
                    />
                  </form>
                  <% })%>
                </tbody>
                <% } %>
              </table>
            </div>
            <div class="d-flex justify-content-center my-3">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="/orchids?page=<%= page - 1 %>"
                      >Previous</a
                    >
                  </li>
                  <% for(let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= page === i ? 'active' : '' %>">
                    <a class="page-link" href="/orchids?page=<%= i %>"
                      ><%= i %></a
                    >
                  </li>
                  <% } %>
                  <li
                    class="page-item <%= page === totalPages ? 'disabled' : '' %>"
                  >
                    <a class="page-link" href="/orchids?page=<%= page + 1 %>"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer')-%>
    </main>
    <%-include('../scripts/globalScript')-%> <%-
    include('../scripts/deleteScript')-%>
  </body>
</html>
