<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 pt-2">
        <div class="row flex-lg-row-reverse align-items-lg-start g-5">
          <div class="col-12">
            <h4 class="section-title">Create Orchid Form</h4>
            <form action="/orchids" method="POST" class="form-bordered">
              <div class="mb-3">
                <label for="orchidName" class="form-label">Orchid Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="oname"
                  name="name"
                  placeholder="e.g. Phalaenopsis amabilis"
                />
                <span id="onameError" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="imageURL" class="form-label">Image URL</label>
                <input
                  type="text"
                  class="form-control"
                  id="oimage"
                  name="image"
                />
                <span id="oimageError" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input
                  type="text"
                  class="form-control"
                  id="ocolor"
                  name="color"
                />
                <span id="ocolorError" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="oprice"
                  name="price"
                />
                <span id="opriceError" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="isNatural" class="form-label">Is Natural?</label>
                <div>
                  <input
                    class="form-check-input"
                    type="radio"
                    id="isNaturalYes"
                    name="isNatural"
                    value="true"
                  />
                  <label class="form-check-label" for="isNaturalYes">Yes</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    id="isNaturalNo"
                    name="isNatural"
                    value="false"
                  />
                  <label class="form-check-label" for="isNaturalNo">No</label>
                </div>
                <span id="isNaturalError" class="text-danger"></span>
              </div>
              <div class="mb-3">
                <label for="original" class="form-label">Original name</label>
                <select class="form-select" name="original" id="ooriginal">
                  <option selected>Open this select menu</option>
                  <%for (let original of originalList){ %>
                  <option value="<%= original.name %>">
                    <%= original.name %>
                  </option>
                  <% } %>
                </select>
                <span id="ooriginalError" class="text-danger"></span>
              </div>

              <div class="mb-3">
                <label for="category" class="form-label">Category name</label>
                <select class="form-select" name="category" id="ocategory">
                  <option selected>Open this select menu</option>
                  <%for (let category of categoriesList ){ %>
                  <option value="<%= category._id %>">
                    <%= category.name %>
                  </option>
                  <% } %>
                </select>
                <span id="ocategoryError" class="text-danger"></span>
              </div>

              <button type="submit" class="btn btn-bd-primary w-100">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
      <%- include('../partials/footer')-%>
    </main>
    <%-include('../scripts/globalScript')-%> <%-
    include('../scripts/createScript')-%>
  </body>
</html>
