<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>

  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container" id="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="pro-img-details">
              <img
                width="100%"
                height="380"
                class="object-fit-contain border rounded"
                src="<%= orchid.image %>"
                alt="<%= orchid.name %>"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h1><%= orchid.name %></h1>
              <small class="text-body-secondary">
                <% for(let i = 0; i < 5; i++) { %>
                <i
                  class="fa-solid fa-star star-<%= orchid._id %>"
                  onclick="rateOrchid('<%= i+1 %>', '<%= orchid._id %>')"
                ></i>
                <% } %>
                <span>(109) Votes</span>
              </small>
            </div>

            <div class="product_meta">
              <span class="posted_in">
                <strong>Category:</strong>
                <a rel="tag" href="#"><%= orchid.category.name %></a>,
              </span>
              <span class="colored_as"
                ><strong>Color:</strong>
                <a rel="tag" href="#"><%= orchid.color %></a>,
              </span>
              <span class="tagged_as"
                ><strong>Color:</strong>
                <a rel="tag" href="#"><%= orchid.original %></a>,
              </span>
            </div>
            <div class="m-bot15">
              <strong>Price : </strong>
              <span class="pro-price">$<%= orchid.price %></span>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5" id="reviews">
          <!-- Reviews -->
          <h4>Review</h4>
          <section class="review-content mb-4">
            <br />
            <form
              method="post"
              class="well padding-bottom-10"
              onsubmit="return false;"
            >
              <textarea
                rows="2"
                class="form-control"
                placeholder="Write a review"
              ></textarea>
              <div class="margin-top-10">
                <button type="submit" class="btn btn-sm btn-primary pull-right">
                  Submit Review
                </button>
                <a
                  href="javascript:void(0);"
                  class="btn btn-link profile-link-btn"
                  rel="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="Add Location"
                  ><i class="fa fa-location-arrow"></i
                ></a>
                <a
                  href="javascript:void(0);"
                  class="btn btn-link profile-link-btn"
                  rel="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="Add Voice"
                  ><i class="fa fa-microphone"></i
                ></a>
                <a
                  href="javascript:void(0);"
                  class="btn btn-link profile-link-btn"
                  rel="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="Add Photo"
                  ><i class="fa fa-camera"></i
                ></a>
                <a
                  href="javascript:void(0);"
                  class="btn btn-link profile-link-btn"
                  rel="tooltip"
                  data-placement="bottom"
                  title=""
                  data-original-title="Add File"
                  ><i class="fa fa-file"></i
                ></a>
              </div>
            </form>

            <div class="chat-body no-padding profile-message">
              <ul>
                <li class="message">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    class="online"
                  />
                  <span class="message-text">
                    <a href="javascript:void(0);" class="username">
                      Alisha Molly
                      <span class="badge">Purchase Verified</span>
                      <span class="pull-right">
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-muted"></i>
                      </span>
                    </a>
                    Can't divide were divide fish forth fish to. Was can't form
                    the, living life grass darkness very image let unto fowl
                    isn't in blessed fill life yielding above all moved
                  </span>
                  <ul class="list-inline font-xs">
                    <li>
                      <a href="javascript:void(0);" class="text-info"
                        ><i class="fa fa-thumbs-up"></i> This was helpful
                        (22)</a
                      >
                    </li>
                    <li class="pull-right">
                      <small class="text-muted pull-right ultra-light">
                        Posted 1 year ago
                      </small>
                    </li>
                  </ul>
                </li>
                <li class="message">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    class="online"
                  />
                  <span class="message-text">
                    <a href="javascript:void(0);" class="username">
                      Aragon Zarko
                      <span class="badge">Purchase Verified</span>
                      <span class="pull-right">
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                      </span>
                    </a>
                    Excellent product, love it!
                  </span>
                  <ul class="list-inline font-xs">
                    <li>
                      <a href="javascript:void(0);" class="text-info"
                        ><i class="fa fa-thumbs-up"></i> This was helpful
                        (22)</a
                      >
                    </li>
                    <li class="pull-right">
                      <small class="text-muted pull-right ultra-light">
                        Posted 1 year ago
                      </small>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      <%- include('../partials/footer')-%>
    </main>
    <%-include('../scripts/globalScript')-%>
  </body>
</html>
