<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 pt-2">
        <div class="row flex-lg-row-reverse align-items-lg-start g-5">
          <div class="col-12">
            <div class="text-center mb-3">
              <h4 class="section-title">Orchid List</h4>
            </div>
            <div class="text-end mb-3">
              <a href="/orchidForm" class="btn btn-primary"
                >Create New Orchid</a
              >
            </div>

            <div class="table-wrapper">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Original</th>
                    <th scope="col">Price</th>
                    <th scope="col">Is Natural</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% orchids.forEach(function(orchid,index){ %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td>
                      <figure>
                        <img class="table-img" src="<%= orchid.image %>" />
                      </figure>
                    </td>
                    <td><%= orchid.name %></td>
                    <td><%= orchid.color %></td>
                    <td><%= orchid.original %></td>
                    <td><%= orchid.price %></td>
                    <td><%= orchid.isNatural ? 'Yes' : 'No' %></td>

                    <td>
                      <div class="buttons are-small">
                        <a href="/orchids/<%= orchid._id %>"
                          ><button class="btn btn-warning">Edit</button></a
                        >
                        <button
                          class="btn btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#deleteModal<%= orchid._id %>"
                          data-id="<%= orchid._id %>"
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                  <form
                    id="deleteForm<%= orchid._id %>"
                    action="/orchids/<%= orchid._id %>?_method=DELETE"
                    method="POST"
                  >
                    <input
                      type="hidden"
                      name="orchidId"
                      value="<%= orchid._id %>"
                    />
                  </form>
                  <% })%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer')-%>
      <!-- Toast -->
      <%- include('../partials/toast')-%>
      <!-- Modal -->
    </main>
    <script>
      document
        .querySelector(".btn-danger")
        .addEventListener("click", function () {
          const orchidId = this.dataset.id;
          fetch(`/orchids/${orchidId}?_method=DELETE`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ _id: orchidId }),
          })
            .then((response) => {
              if (response.ok) {
                var toastEl = document.querySelector("#successToast");
              } else {
                var toastEl = document.querySelector("#errorToast");
              }
              var toast = new bootstrap.Toast(toastEl);
              toast.show();

              if (response.ok) {
                setTimeout(function () {
                  window.location.href = "/orchids";
                }, 500);
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              var toastEl = document.querySelector("#errorToast");
              var toast = new bootstrap.Toast(toastEl);
              toast.show();
            });
        });
    </script>
  </body>
</html>
