<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 pt-2">
        <div class="row flex-lg-row-reverse align-items-lg-start g-5">
          <div class="col-12">
            <div class="text-center mb-3">
              <h4 class="section-title">User List</h4>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search User"
                    id="searchUser"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="searchButton"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="clearButton"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Avatar</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <% if(users.length === 0) { %>
              <tbody>
                <tr>
                  <td colspan="12" class="h4 text-center">No users found</td>
                </tr>
              </tbody>
              <% } else { %>
              <tbody>
                <% users.forEach(function(user,index){ %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td>
                    <figure>
                      <img class="table-img2" src="<%= user.avatar %>" />
                    </figure>
                  </td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                </tr>
                <% })%>
              </tbody>
              <% } %>
            </table>
            <div class="d-flex justify-content-center my-3">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="/orchids?page=<%= page - 1 %>"
                      >Previous</a
                    >
                  </li>
                  <% for(let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= page === i ? 'active' : '' %>">
                    <a class="page-link" href="/orchids?page=<%= i %>"
                      ><%= i %></a
                    >
                  </li>
                  <% } %>
                  <li
                    class="page-item <%= page === totalPages ? 'disabled' : '' %>"
                  >
                    <a class="page-link" href="/orchids?page=<%= page + 1 %>"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer')-%>
    </main>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const searchTerm = urlParams.get("name") || "";

      document.getElementById("searchUser").value = searchTerm;

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          const searchValue = document.getElementById("searchUser").value;
          window.location.href =
            window.location.pathname +
            "?name=" +
            encodeURIComponent(searchValue);
        });

      document
        .getElementById("clearButton")
        .addEventListener("click", function () {
          document.getElementById("searchUser").value = "";
          window.location.href = window.location.pathname;
        });
    </script>
    <%-include('../scripts/globalScript')-%>
  </body>
</html>
