<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')-%>

    <body>
        <main>
            <%- include('../partials/nav')-%>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="text-center mb-3">Edit Player</h4>
                            <div class="form-bordered">
                                <form action="/players/<%= player._id %>?_method=PUT" method="POST">
                                    <input type="hidden" name="_id" value="<%= player._id %>">
                                    <div class="mb-3">
                                        <label for="playerName" class="form-label">Player name</label>
                                        <input type="text" class="form-control" id="pname" name="name"
                                            value="<%= player.name %>" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="imageURL" class="form-label">Image URL</label>
                                        <input type="text" class="form-control" id="pimage" name="image"
                                            value="<%= player.image %>" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="position" class="form-label">Position</label>
                                        <input type="text" class="form-control" id="pposition" name="position"
                                            value="<%= player.position %>" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="club" class="form-label">Club name</label>
                                        <select class="form-select" name="club">
                                            <%for (let club of clubList){ %>
                                                <option value="<%= club.name %>"
                                                    <%=JSON.stringify(club.name)===JSON.stringify(player.club)
                                                    ? 'selected' : '' %>>
                                                    <%= club.name %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col">
                                            <button type="submit" class="btn btn-bd-primary w-100"
                                                data-bs-toggle="modal" data-bs-target="#updateModal">
                                                Update player
                                            </button>
                                        </div>
                                        <div class="col">
                                            <a href="/players" class="btn btn-light w-100">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="section-title">Player Image</h4>
                            <div id="image-container">
                                <img id="player-image" src="<%= player.image %>" alt="Player image" class="img-section">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <%- include('../partials/modal')-%>

                    <%- include('../partials/footer')-%>
                        <!-- Toast -->
                        <%- include('../partials/toast')-%>
        </main>
        <script>
            var data;
            document.querySelector('form').addEventListener('submit', function (event) {
                event.preventDefault();

                var formData = new FormData(event.target);
                data = Object.fromEntries(formData);
            });

            document.querySelector('#updateModal .btn-warning').addEventListener('click', function () {
                fetch(`/players/${data._id}?_method=PUT`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(response => {
                    if (response.ok) {
                        var toastEl = document.querySelector('#successToast');
                    } else {
                        var toastEl = document.querySelector('#errorToast');
                    }
                    var toast = new bootstrap.Toast(toastEl);
                    toast.show();

                    if (response.ok) {
                        setTimeout(function () {
                            window.location.href = `/players/${data._id}`;
                        }, 500);
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    var toastEl = document.querySelector('#errorToast');
                    var toast = new bootstrap.Toast(toastEl);
                    toast.show();
                });
            });
        </script>
    </body>

</html>