<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')-%>

  <body>
    <main>
      <%- include('../partials/nav')-%>
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-9">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Club</th>
                    <th scope="col">Position</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% players.forEach(function(player,index){ %>

                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        <figure>
                          <img class="is-64x64" src=<%=player.image %> >
                        </figure>
                      </td>
                      <td>
                        <%= player.name %>
                      </td>
                      <td>
                        <%= player.club %>
                      </td>
                      <td>
                        <%= player.position %>
                      </td>
                      <td>
                        <div class="buttons are-small">
                          <button class="btn btn-warning">Edit</button>
                          <button class="btn btn-danger">Delete</button>

                        </div></a>
                      </td>
                    </tr>
                    <% })%>
                </tbody>
              </table>
            </div>
            <div class="col-lg-3">
              <form action="/players" method="POST">
                <div class="mb-3">
                  <label for="playerName" class="form-label">Player name</label>
                  <input type="text" class="form-control" id="pname" name="name" placeholder="e.g Messi" />
                </div>

                <button type="submit" class="btn btn-bd-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <%- include('../partials/footer')-%>
    </main>
  </body>

</html>